<div class="row d-flex justify-content-center">
    <div class="col pie-chart">
        <ngx-charts-pie-grid [results]="Animals" [view]="view2" [scheme]="colorScheme" (select)="onSelect($event)"
            (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-pie-grid>
    </div>
    <div class="col pie-chart-group">
        <div class="row pie-chart-sub pie-chart-advanced ">
            <ngx-charts-advanced-pie-chart [results]="Animals" [view]="view" [scheme]="colorScheme"
                [gradient]="gradient" (select)="onSelect($event)" (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
            </ngx-charts-advanced-pie-chart>
        </div>

        <div class="row pie-chart-sub">
            <ngx-charts-pie-chart [results]="Animals" [view]="view" [scheme]="colorScheme" [gradient]="gradient"
                [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
                (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-pie-chart>
        </div>
    </div>
</div>