.pie-chart{
    background-color: white;
    width: 48%;
    border: 1px lightgray solid;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1%;
    padding: 1rem;
}
.pie-chart-group{
    width: 48%;
    margin: 1%;
}

.pie-chart-sub{
    border: 1px lightgray solid;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    padding: 1rem;
}

.pie-chart-advanced{
    margin-bottom: 4%;
}