<div class="row">
    <div class="col line-chart">
        <ngx-charts-line-chart [results]="Multi" [view]="view" [scheme]="colorScheme" [legend]="true"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [legendPosition]="legendPosition"
            (activate)="onActivate($event)">
        </ngx-charts-line-chart>
    </div>
    <div class="col line-chart">
        <ngx-charts-area-chart [results]="Multi" [view]="view" [scheme]="colorScheme" [legend]="legend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [legendPosition]="legendPosition">
        </ngx-charts-area-chart>
    </div>
</div>

<div class="row">
    <div class="col line-chart">
        <ngx-charts-area-chart-stacked [results]="Multi" [view]="view" [scheme]="colorScheme" [legend]="legend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [legendPosition]="legendPosition">
        </ngx-charts-area-chart-stacked>
    </div>
    <div class="col line-chart">
        <ngx-charts-area-chart-normalized [results]="Multi" [view]="view" [scheme]="colorScheme" [legend]="legend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [legendPosition]="legendPosition">
        </ngx-charts-area-chart-normalized>
    </div>

</div>