<div class="block row d-flex justify-content-center align-items-center">
    <div class="bar-chart">
        <ngx-charts-bar-vertical class="chart" [results]="Animals" [view]="view" [scheme]="colorScheme"
            [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle" [legendPosition]="legendPosition"
            [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks"
            [trimYAxisTicks]="trimYAxisTicks" [rotateXAxisTicks]="rotateXAxisTicks"
            [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength"
            [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [showDataLabel]="showDataLabel"
            [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
        </ngx-charts-bar-vertical>
    </div>
    <div class="bar-chart">
        <ngx-charts-bar-vertical-stacked class="chart" [results]="Multi" [view]="view" [scheme]="colorScheme"
            [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" [legendTitle]="'Year'" [legendPosition]="legendPosition" [animations]="animations"
            [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [xAxisTickFormatting]="formatString"
            [yAxisTickFormatting]="formatNumber" [showDataLabel]="showDataLabel" [barPadding]="barPadding"
            [tooltipDisabled]="tooltipDisabled" [maxXAxisTickLength]="7">
        </ngx-charts-bar-vertical-stacked>
    </div>
</div>
<div class="row d-flex justify-content-center align-items-center">
    <div class="col bar-chart">
        <ngx-charts-bar-vertical-normalized class="chart" [results]="Multi" [view]="view" [scheme]="colorScheme"
            [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" [legendTitle]="'Year'" [legendPosition]="legendPosition" [animations]="animations"
            [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [xAxisTickFormatting]="formatString"
            [yAxisTickFormatting]="formatNumber" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled"
            [maxXAxisTickLength]="7">
        </ngx-charts-bar-vertical-normalized>
    </div>
    <div class="col bar-chart">
        <ngx-charts-bar-vertical-2d class="chart" [results]="Multi" [view]="view" [scheme]="colorScheme"
            [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" [legendTitle]="'Year'" [legendPosition]="legendPosition" [animations]="animations"
            [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [xAxisTickFormatting]="formatString"
            [yAxisTickFormatting]="formatNumber" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled"
            [maxXAxisTickLength]="7">
        </ngx-charts-bar-vertical-2d>
    </div>

</div>