.container{
    background-color: rgb(243, 243, 243);
}

.number-card{
    background-color: white;
    border: 1px lightgray solid;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 2%;
    padding: 1rem;
}

.pie{
    margin-top: 2%;
}

h1{
    color: DARKORANGE;
    font-family: 'Caveat', cursive;
}