<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

<div class="container">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="number-card col-md-10 offset-md-1">
            <app-number-card-chart></app-number-card-chart>
        </div>
    </div>
    <div class="pie">
        <app-pie-chart></app-pie-chart>
    </div>

    <div class="bar">
        <app-bar-charts></app-bar-charts>
    </div>

    <div class="line">
        <app-line-area-charts></app-line-area-charts>
    </div>

</div>